<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>系统登录</title>
<link href="/css/manage/login.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
<link href="/css/manage/demo.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="/js/lib/jquery1.42.min.js"></script>
<script type="text/javascript" src="/js/lib/jquery.SuperSlide.js"></script>
<script type="text/javascript" src="/js/lib/Validform_v5.3.2_min.js"></script>

<script>
var verifypath = "/pcw/comm/getVerifiedImg";
$(function(){
	
	$("#verify").click(function(){
		$("#verify").attr("src",verifypath + "?random=" + Math.random());
	});

	$(".i-text").focus(function(){
		$(this).addClass('h-light');
	});

	$(".i-text").focusout(function(){
		$(this).removeClass('h-light');
	});
	
	$("#username").focus(function(){
		 var username = $(this).val();
		 if(username=='输入账号'){
		 $(this).val('');
		 }
	});
	
	$("#username").focusout(function(){
		 var username = $(this).val();
		 if(username==''){
		 $(this).val('输入账号');
		 }
	});

	$("#password").focus(function(){
		 var username = $(this).val();
		 if(username=='输入密码'){
		 $(this).val('');
	 }
	});
	
	$("#yzm").focus(function(){
		 var username = $(this).val();
		 if(username=='输入验证码'){
		 $(this).val('');
	 }
	});
	
	$("#yzm").focusout(function(){
		 var username = $(this).val();
		 if(username==''){
		 $(this).val('输入验证码');
		 }
	});
	
	$(".registerform").Validform({
		tiptype:function(msg,o,cssctl){
			var objtip=$(".error-box");
			cssctl(objtip,o.type);
			objtip.text(msg);
		},
		ajaxPost:true
	});
});
</script>
</head>

<body>


<div class="header">
  <h1 class="headerLogo"><img alt="logo" src="/images/sign.png" width="190" height="80"></h1>
	<div class="headerNav">
		<a href="/navigation/cn/index.html">网站收藏</a>
		<a href="/common/contact.html">联系方式</a>
		<a href="/common/suggest.html">开发意见</a>
		<a href="http://sc.chinaz.com/">帮助</a>	
	</div>
</div>

<div class="banner">

<div class="login-aside">
  <div id="o-box-up"></div>
  <div id="o-box-down"  style="table-layout:fixed;">
   <div class="error-box"></div>
   
   <form class="registerform"action="demo/ajax_post.jsp">
   <div class="fm-item">
	   <label for="logonId" class="form-label">账号/用户名</label>
	   <input type="text" placeholder="输入账号" maxlength="100" id="username" class="i-text" ajaxurl="demo/valid.jsp"  datatype="s6-18" errormsg="用户名至少6个字符,最多18个字符！"  >    
       <div class="ui-form-explain"></div>
  </div>
  
  <div class="fm-item">
	   <label for="logonId" class="form-label">密码</label>
	   <input type="password" placeholder="请输入密码" maxlength="100" id="password" class="i-text" datatype="*6-16" nullmsg="请设置密码！" errormsg="密码范围在6~16位之间！">    
       <div class="ui-form-explain"></div>
  </div>
  
  <div class="fm-item pos-r">
	   <label for="logonId" class="form-label">验证码</label>
	   <input type="text" value="输入验证码" maxlength="100" id="yzm" class="i-text yzm" nullmsg="请输入验证码！" >    
       <div class="ui-form-explain"><img id="verify" src="/pcw/comm/getVerifiedImg" class="yzm-img" /></div>
  </div>
  
  <div class="fm-item">
	   <label for="logonId" class="form-label"></label>
	   <input type="submit" value="" tabindex="4" id="send-btn" class="btn-login"> 
       <div class="ui-form-explain"></div>
  </div>
  
  </form>
  
  </div>

</div>

	<div class="bd">
		<ul>
			<li style="background:url(/images/theme-pic1.jpg) #CCE1F3 center 0 no-repeat;"></li>
			<li style="background:url(/images/theme-pic2.jpg) #BCE0FF center 0 no-repeat;"></li>
		</ul>
	</div>

	<div class="hd"><ul></ul></div>
</div>
<script type="text/javascript">jQuery(".banner").slide({ titCell:".hd ul", mainCell:".bd ul", effect:"fold",  autoPlay:true, autoPage:true, trigger:"click" });</script>


<div class="banner-shadow"></div>

<div class="footer">
   <p>Copyright &copy; 2014.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
</div>
</body>
</html>
